{% extends "template_public_indexPage.twig" %}

{% block pageContent %}
    <div class="container">
        <div class="thread-box thread-box__left-side">
            {% if threadData.author.avatar %}
                {% set avatarStyles = "style=background:none;" %}
            {% endif %}
            <div class="page-profile__user-avatar user-avatar" {{ avatarStyles }}>
                {% if threadData.author.avatar %}
                    <img class="uAvatar" src="{{ threadData.author.avatar }}" alt="{{ threadData.author.login }} avatar" width="40"
                         height="40">
                {% else %}
                    <span>{{ threadData.author.login|striptags|first|upper }}</span>
                {% endif %}
            </div>
        </div>
        <div class="thread-box thread-box__right-side">
            <div class="thread-box-content">
                <div class="thread-box-content__header">
                    <div class="thread-box-content-username-date">
                        <div class="thread-box-content__username">
                            <span>{{ threadData.author.login }}</span>
                        </div>
                        <div class="thread-box-content__date">
                            <span>{{ threadData.created|date("d.M.Y") }}</span>
                        </div>
                    </div>
                    <div class="thread-box-content__title">
                        <span>{{ threadData.title }}</span>
                    </div>
                    <div class="thread-box-content__tags">
                        <ul class="threads-item__category-items">
                            <li class="threads-item__category-items__item ">{{ threadData.category }}</li>
                            {% for tag in threadData.tags %}
                                <li class="threads-item__category-items__item tag">{{ tag }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="thread-box-content__body">
                    {% autoescape %}
                        {{ threadData.content|raw }}
                    {% endautoescape %}
                </div>
                {#                <div class="thread-box-content__footer">#}
                {#                    <ul class="action-list">#}
                {#                        <li class="action-list__item active">#}
                {#                            <i class="fas fa-thumbs-up"></i>#}
                {#                            <span class="action-list__item-counter">{{ threadData.like }}</span>#}
                {#                        </li>#}
                {#                        <li class="action-list__item">#}
                {#                            <i class="fas fa-thumbs-down"></i>#}
                {#                            <span class="action-list__item-counter">{{ threadData.dislike }}</span>#}
                {#                        </li>#}
                {#                        <li class="action-list__item">#}
                {#                            <i class="fas fa-heart"></i>#}
                {#                            <span class="action-list__item-counter">{{ threadData.fav }}</span>#}
                {#                        </li>#}

                {#                    </ul>#}
                {#                </div>#}
            </div>
        </div>
    </div>
    <div class=" thread-stats__wrap">
        <div class="thread-stats__status">
            <h4>Статистика темы</h4>
            <ul class="thread-stats__status__list">
                <li class="thread-stats__status__list-item">
                    <div class="list-item-wrapper">
                        <i class="fas fa-reply"></i>
                        <span class="thread-stats__status__list-counter">{{ threadData.replies }}</span>
                    </div>
                </li>
                <li class="thread-stats__status__list-item">
                    <div class="list-item-wrapper">
                        <i class="fas fa-eye"></i>
                        <span class="thread-stats__status__list-counter">{{ threadData.views }}</span>
                    </div>
                </li>
                {#                <li class="thread-stats__status__list-item">#}
                {#                    <div class="list-item-wrapper">#}
                {#                        <i class="fas fa-user"></i>#}
                {#                        <span class="thread-stats__status__list-counter">0</span>#}
                {#                    </div>#}
                {#                </li>#}
                <li class="thread-stats__status__list-item">
                    <div class="list-item-wrapper">
                        <i class="fas fa-thumbs-up"></i>
                        <span class="thread-stats__status__list-counter">{{ threadData.likes }}</span>
                    </div>
                </li>
                <li class="thread-stats__status__list-item">
                    <div class="list-item-wrapper">
                        <i class="fas fa-heart"></i>
                        <span class="thread-stats__status__list-counter">{{ threadData.fav }}</span>
                    </div>
                </li>
                <li class="thread-stats__status__list-item">
                    <div class="list-item-wrapper">
                        <i class="fas fa-share-alt"></i>
                        <span class="thread-stats__status__list-counter">{{ threadData.shared }}</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="thread-stats__top_posters">
            <h4>Популярные авторы</h4>
            <ul class="users-list">
                <li class="users-list__item">
                    <div class="user-avatar">K</div>
                </li>
                <li class="users-list__item">
                    <div class="user-avatar">J</div>
                </li>
                <li class="users-list__item">
                    <div class="user-avatar">C</div>
                </li>
                <li class="users-list__item">
                    <div class="user-avatar">B</div>
                </li>
                <li class="users-list__item">
                    <div class="user-avatar">I</div>
                </li>
            </ul>
        </div>
        <div class="thread-stats__comments-control">
            <h3>Сортировать ответы по:</h3>
            <ul class="buttons-list">
                <li class="buttons-list__item">
                    <button class="button button-hover button-hover__dark" type="button">Новизне</button>
                </li>
                <li class="buttons-list__item">
                    <button class="button button-hover button-hover__dark button-primary" type="button">Лайкам</button>
                </li>
                <li class="buttons-list__item">
                    <button class="button button-hover button-hover__dark" type="button">Длинные</button>
                </li>
                <li class="buttons-list__item">
                    <button class="button button-hover button-hover__dark" type="button">Короткие</button>
                </li>
                <li class="buttons-list__item">
                    <button class="button button-hover button-hover__dark" type="button">Отмеченные как ответ</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="thread-comments" data-thread="{{ threadData.id }}">
        {% if userLogged %}
            <div class="thread-comments__new">
                <h4>Новый комментарий</h4>
                <div class="thread-comments__editor">
                    <div id="newComment"></div>
                </div>
                <div class="buttons">
                    <ul class="action-list">
                        <li class="action-list__item">
                            <button class="button button-primary button-lg button-hover button-hover__dark"
                                    id="addCommentBtn">
                                Отправить
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
        <ul class="comments-list" id="threadCommentsList">
            {#            <li class="comments-list__item">#}
            {#                <div class="comment">#}
            {#                    <div class="comment-col">#}
            {#                        <div class="user-avatar">#}
            {#                            F#}
            {#                        </div>#}
            {#                    </div>#}
            {#                    <div class="comment-col">#}
            {#                        <div class="comment-header">#}
            {#                            <div class="comment-header__username">#}
            {#                                <span>Ferlom189</span>#}
            {#                            </div>#}
            {#                            <div class="comment-header__date">#}
            {#                                <span>7 Янв,2019</span>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                        <div class="comment-body">#}
            {#                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis, dolor, eos#}
            {#                                ipsa ipsum iste laboriosam laborum mollitia nemo nesciunt omnis quo sequi! Eligendi#}
            {#                                impedit iure, modi nobis rerum voluptatibus!</p>#}
            {#                        </div>#}
            {#                        <div class="comment-footer">#}
            {#                            <ul class="action-list">#}
            {#                                <li class="action-list__item active">#}
            {#                                    <i class="fas fa-thumbs-up"></i>#}
            {#                                    <span class="action-list__item-counter">434k</span>#}
            {#                                </li>#}
            {#                                <li class="action-list__item">#}
            {#                                    <i class="fas fa-thumbs-down"></i>#}
            {#                                    <span class="action-list__item-counter">51k</span>#}
            {#                                </li>#}
            {#                                <li class="action-list__item">#}
            {#                                    <i class="fas fa-heart"></i>#}
            {#                                    <span class="action-list__item-counter">241k</span>#}
            {#                                </li>#}
            {#                            </ul>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </li>#}
            {#            <li class="comments-list__item">#}
            {#                <div class="comment">#}
            {#                    <div class="comment-col">#}
            {#                        <div class="user-avatar">#}
            {#                            F#}
            {#                        </div>#}
            {#                    </div>#}
            {#                    <div class="comment-col">#}
            {#                        <div class="comment-header">#}
            {#                            <div class="comment-header__username">#}
            {#                                <span>Ferlom189</span>#}
            {#                            </div>#}
            {#                            <div class="comment-header__date">#}
            {#                                <span>7 Янв,2019</span>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                        <div class="comment-body">#}
            {#                            <p>lorem bla-bla</p>#}
            {#                        </div>#}
            {#                        <div class="comment-footer">#}
            {#                            <ul class="action-list">#}
            {#                                <li class="action-list__item active">#}
            {#                                    <i class="fas fa-thumbs-up"></i>#}
            {#                                    <span class="action-list__item-counter">434k</span>#}
            {#                                </li>#}
            {#                                <li class="action-list__item">#}
            {#                                    <i class="fas fa-thumbs-down"></i>#}
            {#                                    <span class="action-list__item-counter">51k</span>#}
            {#                                </li>#}
            {#                                <li class="action-list__item">#}
            {#                                    <i class="fas fa-heart"></i>#}
            {#                                    <span class="action-list__item-counter">241k</span>#}
            {#                                </li>#}
            {#                            </ul>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </li>#}
            {#            <li class="comments-list__item flagged">#}
            {#                <div class="comment">#}
            {#                    <div class="comment-col">#}
            {#                        <div class="user-avatar">#}
            {#                            F#}
            {#                        </div>#}
            {#                    </div>#}
            {#                    <div class="comment-col">#}
            {#                        <div class="comment-header">#}
            {#                            <div class="comment-header__username">#}
            {#                                <span>Ferlom189</span>#}
            {#                            </div>#}
            {#                            <div class="comment-header__date">#}
            {#                                <span>7 Янв,2019</span>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                        <div class="comment-body">#}
            {#                            #}{#                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis, dolor, eos#}
            {#                            #}{#                                ipsa ipsum iste laboriosam laborum mollitia nemo nesciunt omnis quo sequi! Eligendi#}
            {#                            #}{#                                impedit iure, modi nobis rerum voluptatibus!</p>#}
            {#                            <p>Комментарий был скрыт модератором</p>#}
            {#                        </div>#}
            {#                        <div class="comment-footer">#}
            {#                            <ul class="action-list">#}
            {#                                <li class="action-list__item active">#}
            {#                                    <i class="fas fa-thumbs-up"></i>#}
            {#                                    <span class="action-list__item-counter">90</span>#}
            {#                                </li>#}
            {#                                <li class="action-list__item">#}
            {#                                    <i class="fas fa-thumbs-down"></i>#}
            {#                                    <span class="action-list__item-counter">51k</span>#}
            {#                                </li>#}
            {#                                <li class="action-list__item">#}
            {#                                    <i class="fas fa-heart"></i>#}
            {#                                    <span class="action-list__item-counter">4</span>#}
            {#                                </li>#}
            {#                            </ul>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </li>#}
            {#            <li class="comments-list__item answer">#}
            {#                <div class="comment">#}
            {#                    <div class="comment-col">#}
            {#                        <div class="user-avatar">#}
            {#                            F#}
            {#                        </div>#}
            {#                    </div>#}
            {#                    <div class="comment-col">#}
            {#                        <div class="comment-header">#}
            {#                            <div class="comment-header__username">#}
            {#                                <span>Ferlom189</span>#}
            {#                            </div>#}
            {#                            <div class="comment-header__date">#}
            {#                                <span>7 Янв,2019</span>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                        <div class="comment-body">#}
            {#                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis, dolor, eos#}
            {#                                ipsa ipsum iste laboriosam laborum mollitia nemo nesciunt omnis quo sequi! Eligendi#}
            {#                                impedit iure, modi nobis rerum voluptatibus!</p>#}
            {#                        </div>#}
            {#                        <div class="comment-footer">#}
            {#                            <ul class="action-list">#}
            {#                                <li class="action-list__item active">#}
            {#                                    <i class="fas fa-thumbs-up"></i>#}
            {#                                    <span class="action-list__item-counter">434k</span>#}
            {#                                </li>#}
            {#                                <li class="action-list__item">#}
            {#                                    <i class="fas fa-thumbs-down"></i>#}
            {#                                    <span class="action-list__item-counter">51k</span>#}
            {#                                </li>#}
            {#                                <li class="action-list__item">#}
            {#                                    <i class="fas fa-heart"></i>#}
            {#                                    <span class="action-list__item-counter">241k</span>#}
            {#                                </li>#}
            {#                            </ul>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </li>#}
        </ul>
        <div class="comments-list__end">
            <div class="comments-list__end__text">
                <span>Это все комментарии</span>
            </div>
        </div>
    </div>
{% endblock %}
{% block header %}
    <link rel="stylesheet" href="/libs/katex/katex.min.css">
    <link rel="stylesheet" href="/libs/textEditor/quill.snow.css">
    <link rel="stylesheet" href="/libs/highlight/styles/a11y-dark.css">

{% endblock %}
{% block scripts %}
    <script src="/libs/spotlight.js"></script>
    <script src="/libs/katex/katex.min.js"></script>
    <script src="/libs/highlight/highlight.pack.js"></script>
    <script src="/libs/textEditor/quill.js"></script>
    <script src="/public/js/threads_page.js"></script>
{% endblock %}