<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block header %}{% endblock %}
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/libs/fontawesome/fontawesome.css">
    <title>Форум {% block pageTitle %}{% endblock %}</title>
</head>
<body>
<header>
    <div class="page-logo" onclick="location.href='/'"></div>
    <div class="page-nav">
        <ul class="page-nav__navbar">
            <li class="page-nav__navbar-item">Категории</li>
            <li class="page-nav__navbar-item">Популярное</li>
            <li class="page-nav__navbar-item">Новое</li>
            <li class="page-nav__navbar-item">Не прочитанное</li>
        </ul>
    </div>
    <div class="page-search-bar__wrapper">
        <div class="input-icon">
            <i class="fal fa-search"></i>
        </div>
        <input type="text" name="search" id="searchbar" class="page-search-bar" placeholder="Поиск">
    </div>
    <div class="page-profile__wrapper">
        {% if userLogged %}
            <div class="bell-icon">
                <i class="fas fa-bell"></i>
            </div>
            <div class="page-profile__user-box">

                {% if userData.avatar %}
                    {% set avatarStyles = "style=background:none;" %}
                {% endif %}
                <div class="page-profile__user-avatar user-avatar" {{ avatarStyles }}>
                    {% if userData.avatar %}
                        <img class="uAvatar" src="{{ userData.avatar }}" alt="{{ userData.login }} avatar" width="40"
                             height="40">
                    {% else %}
                        <span>{{ userData.login|striptags|first|upper }}</span>
                    {% endif %}
                </div>
                <div class="page-profile__user-name">
                    <span>{{ userData.login }}</span>
                </div>
            </div>
        {% else %}
            <button type="button" class="button button-default button-hover button-hover__dark"
                    onclick="location.href='/auth'">Войти
            </button>
            <button type="button" class="button button-primary button-hover button-hover__dark"
                    onclick="location.href='/auth/register'">
                Присоединиться
            </button>
        {% endif %}
    </div>
</header>
<section class="page-content">
    {% block pageContent %}
    {% endblock %}
</section>
{% if userLogged %}
    <button type="button" class="button button-transparent new-thread">
        <i class="fal fa-plus"></i>
    </button>
{% endif %}
{% block scripts %}{% endblock %}
<script src="/public/js/index.js"></script>
</body>
</html>